{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="toast-container" class="position-fixed bottom-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Success message goes here.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mx-auto">
        <main>
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div>
                {% if game.state == 'NEW_GAME' %}
                    <div class="row">
                        <div class="col-8">
                            <div class="container">
                                <h1 class="mb-4">Nowe pytanie</h1>
                                <form id="questionForm" class="border rounded p-3">
                                    <div>
                                        <div class="form-group mb-3">
                                            <input type="text" class="form-control form-control-lg" id="question" name="question"
                                                   placeholder="Pytanie?" required>
                                        </div>
                                        <div id="options"></div>
                                    </div>
                                    <button type="submit" class="btn btn-primary form-control" aria-label="Dodaj">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                             class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg>
                                    </button>
                                    <div class="alert alert-danger mt-3" role="alert" hidden="hidden">
                                        <div id="message"></div>
                                    </div>
                                </form>
                                <h2 class="mt-3">Pytania</h2>
                                <div id="questionsList"></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <h1 class="mb-4">Gracze</h1>
                                <ol class="list-group list-group-numbered p-0">
                                    {% for player in game.players %}
                                        <li class="list-group-item">{{ player.name }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="row mt-3">
                                <form method="post" class="p-0" action="/admin/game/start">
                                    <button class="w-100 btn btn-lg btn-success" type="submit">Rozpocznij</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% if game.state == 'STARTED' %}
                    game started
                    {{ game.scores }}
                {% endif %}


                {% if game.state == 'FNIISHED' %}
                    not implemented
                {% endif %}


                {% if game is null %}
                    <form method="post" action="/admin/game/create">
                        <button class="w-100 btn btn-lg btn-success" type="submit">Stwórz grę</button>
                    </form>
                {% endif %}
            </div>
        </main>
    </div>
{% endblock %}
