{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div>
                {% if game.state == 'NEW_GAME' %}
                    <div class="container mt-5">
                        <h1 class="mb-4">Add Multiple Choice Question</h1>
                        <form id="questionForm">
                            <div class="mb-3">
                                <label for="question" class="form-label">Question:</label>
                                <input type="text" class="form-control" id="question" name="question" required>
                            </div>

                            <div id="options">
                                <div class="option mb-3">
                                    <input type="text" class="form-control" name="option" placeholder="Option 1" required>
                                    <input type="checkbox" name="correctOption" class="form-check-input ms-2"> Correct
                                </div>
                            </div>

                            <button type="button" id="addOption" class="btn btn-primary">Add Option</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>

                        <h2 class="mt-5">Existing Questions</h2>
                        <div id="questionsList"></div>
                        <div id="message" class="mt-3"></div>
                    </div>
                    <form method="post" action="/admin/game/start">
                        Graczy oczekujących: {{ game.players|length }}. Gra czeka na rozpoczęcie.
                        <button class="w-100 btn btn-lg btn-success" type="submit">Rozpocznij</button>
                    </form>
                {% endif %}


                {% if game.state == 'STARTED' %}
                    game started
                {% endif %}


                {% if game.state == 'FNIISHED' %}
                    not implemented
                {% endif %}


                {% if game is null %}
                    <form method="post" action="/admin/game/create">
                        <button class="w-100 btn btn-lg btn-success" type="submit">Stwórz grę</button>
                    </form>
                {% endif %}
            </div>
        </main>
    </div>
{% endblock %}
