{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div>
                {% if game.state == 'NEW_GAME' %}
                    {{ error }}
                    <form method="post" action="/admin/game/start">
                        <button class="w-100 btn btn-lg btn-success" type="submit">Rozpocznij</button>
                    </form>
                {% endif %}


                {% if game.state == 'STARTED' %}
                    game started
                {% endif %}


                {% if game.state == 'FNIISHED' %}
                    not implemented
                {% endif %}


                {% if game is null %}
                    not implemented
                {% endif %}
            </div>
        </main>
    </div>
{% endblock %}
