{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main class="form-signin">
            {% if error is not null %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            {% if message is not null %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <form action="/join" method="post">
                <h1 class="h3 mb-3 fw-normal">Dołącz do gry</h1>
                {% if disabled %}
                <fieldset disabled="disabled">
                    {% else %}
                    <fieldset>
                        {% endif %}
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Jan Kowalski" autocomplete="given-name" required>
                            <label for="floatingInput">Nazwa gracza</label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Dołacz</button>
                    </fieldset>
            </form>
        </main>
    </div>
{% endblock %}
